/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* gothic-a1 */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* font */
/* color */
/* pointcolor */
/* grayScale */
/* gradient */
/* icon-color */
/* title */
/* box-shadow */
/* button */
/* project-stack */
.contact {
  padding-top: 80px;
  height: 100vh;
  overflow: hidden;
}
.contact.on .contact-title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: relative;
  margin-bottom: 150px;
  font-weight: 700;
}
.contact.on .contact-title::after {
  content: "";
  position: absolute;
  width: 316px;
  height: 3px;
  background-color: #E44D26;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  transition: width 1s;
}
.contact.on .contact-back {
  opacity: 1;
}
.contact.on form {
  opacity: 1;
}
.contact .contact-title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: relative;
  margin-bottom: 0;
  font-weight: 700;
}
.contact .contact-title::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #E44D26;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  transition: width 1s;
}
.contact .contact-back {
  width: 768px;
  height: 860px;
  background-image: url(../images/contactBack.svg);
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-delay: 0.4s;
}
.contact form {
  width: 580px;
  height: 90%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-delay: 0.4s;
}
.contact form .contact-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.contact form .contact-top input[type=email] {
  width: 85%;
  height: 35px;
  border-bottom: 1px solid black;
  background-color: transparent;
  outline: none;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  padding: 0 0.5rem;
  box-sizing: border-box;
  font-weight: 600;
}
.contact form .contact-top input[type=email]:focus::placeholder {
  opacity: 0;
}
.contact form .contact-top button {
  width: 13%;
  height: 36px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  transition-duration: 0.2s;
  transition-property: background, color;
  font-weight: 600;
}
.contact form .contact-top button:hover {
  background-color: black;
  color: white;
}
.contact form textarea {
  width: 100%;
  height: 35%;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  border: 1px solid black;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem;
  font-weight: 500;
}
.contact form textarea:focus::placeholder {
  opacity: 0;
}
.contact form .gitHubLink {
  display: block;
  width: 44px;
  height: 46px;
  margin: 5% auto;
}
.contact form .gitHubLink img {
  width: 100%;
  height: 100%;
}